body{
    margin:0;
    padding:0;
} 
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.navbar .contact ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.navbar .contact li{
    list-style:none;
}
.navbar .contact a{
    text-decoration: none;
    color: white;
    padding:0.5rem;
    border-left:1px solid white;
}
.navbar .login ul{
    display:flex;
    margin:0px;
    padding:0px;
}
.navbar .login li{
    list-style:none;
}
.navbar .login a{
    text-decoration:none;
    color:white;
    padding:0.5rem;
    display: block;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:transparent;
    color:white;
}
.bottom-header ul{
    display: flex;
    margin:0px;
    padding:0px;
}
.bottom-header li{
    list-style: none;
}
.bottom-header a {
    text-decoration: none;
    color:white;
    padding:0.8rem;
}
.bottom-header .donate ul{
    list-style:none;
    margin:0px;
    padding-right:50px;
}
.bottom-header .donate a{
    background-color:#FED23D;
    color:black;
}





/* The sidepanel menu */
.sidepanel {
    height:auto; /* Specify a height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
 
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    /* border: 1px solid white; */
    align-items: center;
    width: 2px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:white;
    color:black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

 

  /* menu hover css */

  
  /* Style The Dropdown Button */
  .dropbtn {
    background-color:transparent;
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }


  .both-header{
    position: absolute;
    z-index: 1;
  }
  


  /* footer css */
footer p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin:  15px 0px;
  color: #AAAAAA;
}
footer .container-fluid{
  background-color: #333333; ;
}
 .sction001{
  background-color: #2b2b2b;
  color: white;
  height: 50px;
  text-align: center;
  display: block;
  margin: auto;
  
}




  @media (min-width: 842px) {
     #sm-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
    }
}
  @media (max-width: 841px) {
     .both-header {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
} 
@media(min-width:1200px){
  footer{
    display: block;
  }
}


/* transition duration to control the speed of fade effect */
.carousel-item {
  transition: transform 2.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}




